/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
    padding-top: 150px;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 20em;
}

html, body {
    overflow-x: hidden;
}


.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.poweredby-header img {
    width: 70px;
    border-radius: 8px;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #7FB3D5;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #7FB3D5;
}

.formulario h2 {
    margin-bottom: 20px;
}

/* header */
header {
    padding: 10px 5.8%;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: fixed;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Menu mobile */
div .btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: #7FB3D5;
    font-size: 40px;
}

.menu-mobile {
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #7FB3D5;
    font-size: 40px;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #7FB3D5;
    color: #000;
}

.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

button:hover,
form .btn-enviar input:hover {
    background: transparent;
    transform: scale(1.05);
    border: solid 1px #7FB3D5;
    color: #fff;
}

/* main */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 98px;
}

.topo-do-site .title {
    color: #c8c8c8;
    font-size: 26px;
    align-items: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #7FB3D5;
}

/* Estilizando todos os parágrafos dentro de .txt-topo-site */
.topo-do-site .txt-topo-site p {
    color: #9ca3af;
    margin: 20px 0;
    font-weight: 300;
}

.topo-do-site .img-topo-site img {
    position: relative;
    border-radius: 40%;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.272));
}

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    box-shadow: 0 0 15px #ffffff78;

}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #7FB3D5;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #7FB3D5;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Sobre */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #c8c8c8;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 38px;
}

.sobre .txt-sobre h2 span {
    color: #7FB3D5;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: #fff;
    border: solid 1px #7FB3D5;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

.btn-social button:hover {
    background: #7FB3D5;
    transform: scale(1.05);
    border: solid 1px #7FB3D5;
    color: black;
    box-shadow: 0px 1px 8px 0px #7FB3D5;
}

/* Linguagens */
.scroller {
    position: relative;
    left: 280px;
    bottom: 76px;
    display: flex;
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, #000, #000, transparent, transparent);
}

.scroller div {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroller div:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes animate {
    0% {
        transform: translateX(105%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroller div span {
    display: inline-flex;
    width: 40px;
    margin: 7px;
    padding: 5px 5px;
    letter-spacing: 0.2em;
    border: 1px solid #7FB3D5;
    border-radius: 5px;
    transition: 0.5s;
}

.scroller div span:hover {
    background: black;
    cursor: pointer;
}

/* Portifólio */
/* section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 6s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
} */
.title_portifolio {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.title_portifolio span {
    color: #7FB3D5;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #ffffff78;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    transition: .2s;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project h3, p {
    padding: 6px;
}

.project p {
    color: #e6e6e6;
    line-height: 1.40em;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
}

.project .detalhes {
    margin: 12px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: #7FB3D5;
    cursor: pointer;
    transition: .2s;
}

.project:hover {
    box-shadow: 0 0 15px #7FB3D5
}

.project .detalhes:hover {
    background-color: #7FB3D5;
    border: none;
    color: #000;
    transform: scale(1.05);
}

/* Detalhes Pop Up */
/* Pop-up oculto inicialmente */
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Conteúdo do pop-up */
.popup-content {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    text-align: center;
    position: relative;
}

.popup-content p {
    line-height: 1.40em;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
}

/* Botão de fechar */
.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

/* Estilizando o conteúdo */
.popup-content h3 {
    margin-top: 0;
    color: #333;
}

.popup-content a {
    text-decoration: none;
}

.popup-content .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #242424;
    color: white;
    transition: .2s;
}

.popup-content .btn:hover {
    background-color: #3333330e; 
    color: #000;
    border: solid 1px #000;
    box-shadow: 0px 0px 8px #000;
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* Formularios */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 129px;
    background-color: #7FB3D5;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #7FB3D5;
}

footer .line-footer p i {
    color: #7FB3D5;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

.grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poweredby {
    display: flex;
    align-items: center;
}

.poweredby p {
    margin-right: 10px;
    font-size: 18px;
    color: #fff;
}

.poweredby img {
    width: 50px;
    height: auto;
    border-radius: 8px;
}

.copyright {
    color: #fff;
    font-size: 14px;
}

.line-footer .copyright a {
    color: #7FB3D5;
    font-weight: 500;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7FB3D5;
    border-radius: 10px;
}

@media screen and (max-width: 1028px) {

    /* Classes gerais */
    .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* Header */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* Topo do site */
    section.topo-do-site .flex {
        gap: 35px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .title {
        font-size: 25px;
        margin: 10px 0;
        text-align: center;
    }

    .topo-do-site p {
        padding-top: 13px;
        text-align: center;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* Menu mobile */
    div .btn-abrir-menu {
        display: block;
    }

    /* Especialidades */
    section.especialidades {
        padding: 40px 8%;
    }

    /* Sobre */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* Linguagens */
    .scroller {
        position: relative;
        top: 30px;
        left: 50px;
    }

    /* Portifolio */
    /* .project {
        width: 100%;
    } */

    /* section.portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    } */

    .project {
        width: 45%;
    }

    /* Footer */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

    footer .poweredby {
        display: none;
    }

    footer .copyright {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {

    .project {
        width: 100%;
    }
}